{% extends 'thinktank/base.html' %}
{% block title %}Create Event{% endblock%}

{% block content %}
<h2>Event</h2>
<form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{eventForm.as_p}}
    {{ eventForm.media }}
    <h4>Images:</h4>
    <hr>
    {{ formset.management_form }}
    {% for form in formset %}
    {{form.as_p}}
    {% endfor %}
    <h4>Videos:</h4>
    <hr>
    {{ videoformset.management_form }}
    {% for form in videoformset %}
    {{form.as_p}}
    {% endfor %}

    <input type="submit" class="btn" name="" id="">
</form>

{% endblock %}