<div class="container">
    <img align="left" src="/media/images/logo/bvc.jpeg" width="120px" height="150px" />
    <img src="/media/images/logo/jntuk.png" width="150px" height="150px" align="right" />
    <div style="width:80%;">
        <h2 style="text-align: center; color: #000;">Konaseema Think Tank</h2>
        <h5 style="text-align: center; color: #000;">Developed by: BVC Engineering College (Autonomous)<br>
            East Godavari, Andra Pradesh 533210 <br> Accredited by: NBA, NAAC and Approved by: AICTE (New Delhi)
        </h5>
    </div>
</div>