{% extends 'thinktank/base.html' %}

{% block title %}About{% endblock%}

{% block content %}

<h4>About BVCEC</h4>
<hr>
<p>
    Late Bonam Venkata Chalamayya, A visionary, who understood that the success of the country, its wealth and welfare,
    will depend on the nation’s assets such as ideas and skills of its population. The world is becoming increasingly
    technological and the value of national assets will be determined by the effectiveness of science, technology,
    engineering and mathematics education. That gave birth to BVC educational society in 1992 and emergence of the first
    private engineering college, BONAM VENKATA CHALAMAYYA ENGINEERING COLLEGE, ODALAREVU, East Godavari district, Andhra
    Pradesh in 1997.

    Despite innumerable difficulties and insurmountable obstacles he had faced, he didn’t budge from his firm
    determination to realize his vision and accomplish success while making significant contribution towards development
    of country in building assets.

    Sri Bonam Venkata Chalamayya is a great personality who made a humble beginning as a peasant rose to be an
    industrialist, philanthropist and stands as an inspiration today to the country.

    BVC group, as India’s leading next-generation institutions – living,growing and youthful, that embrace change and
    opportunity with a can-do attitude. BVC group is located in the nation’s second richest district EAST GODAVARI of
    Andhra Pradesh.The BVC group inspires and supports discovery, creativity and innovation across all disciplines. The
    BVC group attracts and nurtures the talent that drives new knowledge creation, improves lives and betters our world.
    In this rich learning environment, the group serves thousands of students in shaping their career towards success,
    and provides the community with diverse lifelong learning opportunities. International best practices, volunteer
    work, and research programs, industry – interaction programs, cross culture environment give students a global
    context while promoting diversity and innovation in teaching and research.

    Our focus is not just education but we actively engage students in leadership development in all areas—the arts,
    athletics, science, engineering, volunteerism and business. We are also a leader in sustainability – living a set of
    values embraced by the campus through teaching, leadership, and campus operations.

    BVC is a place, which provides exploratory time for students to discover their passions, ideas and values with the
    help of best quality faculty and peers. We ensure to provide individual and social benefit by providing a chance to
    focus on learning, spread one’s intellectual wings and test one’s limits. Thus, at BVC group, we foster
    intellectual, social, ethical and civic development, which is essential to evolve to be a capable and responsible
    individual.

</p>
<p>

    VISION <br>

    To become a leading technical institute of academic excellence by imparting high patterns of discipline through
    innovative programs of global standards making our students technologically superior and ethically strong to serve
    the Nation.
</p>
<p>
    MISSION
    <br>
    To create an environment that shall foster the growth of intellectually capable, innovative professionals who can
    contribute to the growth of technology in partnership with industry and develop and harness it for the welfare of
    Nation and mankind.
</p>
<p>

    QUALITY POLICY
    <br>
    BVCEC strives to establish a system of quality assurance to continuously address, monitor and evaluate the quality
    of education offered to students thus promoting effective teaching–learning processes to enhance student’s skills
    and talents for their exemplary contribution to the society, the Nation and the World.
</p>

<ul>
    <p>
        Goals <br>
        Short term goals :</p>
    <li> To have state-of – the –art infrastructure for laboratories , student centric activities and building and
        amenities</li>

    <li> To achieve academic excellence by getting 90-100 percentage passing in university examinations

    <li> To help students to foster and develop qualities of leadership interpersonal and problem solving skills to face
        the professional and personal challenges in the life

    <li> To inculcate qualities of integrity, honesty , loyalty and patriotism among the students

    <li> To have good record of reputed companies visiting and offering jobs for our students at our campus and achieve
        50% placement

    <li> To enable scholarly vibrant environment for learning , teaching , research and development for student and
        staff for their personal and professional growth

    <li> To faster and harmonious and cardinal relationship among the management , faculty and staff and students for
        their respective growth and for establishing to congener academic environment in the college.
</ul>
<ul>
    <p>
        Long term goals:</p>
    <li>To become the preferred college of choice for students who do well in EAMCET and be listed among top ten
        colleges in
        A.P.

    <li></li>To reach a level of expertise where faculty from college are taking up major consulting assignments in the
    wide
    range of technical areas

    <li></li>To achieve 100% results and 100% placements consistently

    <li></li>To evolve as center for excellence by undertaking nationally and internationally acknowledged research and
    development works

    <li></li>To evolve as autonomous and deemed institution
</ul>

{% endblock%}