{% extends 'thinktank/base.html' %}

{% block title %}HomePage{% endblock%}

{% block content %}
{% if not user.is_authenticated%}
<div class="login_faculty">

    <h4>Login!!</h4>
    <form method="post" class="form">
        {% csrf_token %}
        {{form.as_p}}
        <input class="btn btn-primary" type="submit" value="Login" />
        <p>
            New User? Register for:
            <a href="{% url 'accounts:stud_register' %}">Student</a> or
            <a href="{% url 'accounts:faculty_register' %}">Faculty</a>.
        </p>
        <p>
            OR, <a href="{% url 'reset_password'%}">Forgot password?</a>
        </p>
    </form>

</div>

<div class="desc">
    <p style="margin-left: 5px; font-size: 18px; ">
        <b>Welcome</b> to the Konaseema Think Tank. The purpose of this website is to bring all intellectuals on
        one platform and provide them a forum for innovation, creativity and sharing intellectual
        solutions and services to the researchers, student community and citizens.
    </p>
</div>
{% endif%}
{% if user.is_authenticated%}

<div class="desc" style="float:left; width: 100%;">
    <h4>Hi! {{ request.user.first_name}}</h4>
    <hr>
    <p style="margin-left: 5px; font-size: 18px; ">
        <b>Welcome</b> to the Konaseema Think Tank. The purpose of this website is to bring all intellectuals on
        one platform and provide them a forum for innovation, creativity and sharing intellectual
        solutions and services to the researchers, student community and citizens.
    </p>
</div>
{% endif %}
<div style="float:left; width: 100% ;margin-top:20px;">

    <h4>Upcoming Events</h4>
    <hr>
    {% for event in upcoming_events %}
    <div class="card" style="width: 100%; float: left; margin-left:5px; margin-bottom: 5px;">
        <div class="card-body">
            <h5 class="card-title">{{ event.title}}</h5>
            <hr>
            <p class="card-text">{{event.description|truncatewords:'10'}}</p>
            <p style="font-size: 12px;">on {{event.when_date}} at {{event.venue}}</p>
            <a href="{% url 'events:event_detail' pk=event.pk%}" class="btn btn-primary">Detail</a>
        </div>
    </div>
    {% empty %}
    <p>No upcoming events.</p>
    {% endfor%}

</div>

{% endblock%}