{% extends 'thinktank/base.html' %}

{% block title %}Dashboard{% endblock%}

{% block content %}
{% if user.is_faculty %}
<h4>Your Dashboard</h4>
<hr>
<br>

<h5>Blogs</h5>
<hr>
<ul>
    {% for blog in my_blog_list %}
    <li>
        <a href="{% url 'blogs:blog_detail' pk=blog.pk%}">{{ blog.title }}</a>
        - posted on: {{blog.created_date}}
    </li>
    {% empty %}
    <p>No blogs.</p>
    {% endfor %}
</ul>
<hr>
<a class="btn btn-dark" href="{% url 'blogs:create_blog' %}" style="color:white">
    Post a Blog
</a>
{%endif%}
<hr>


<h5>Forums</h5>
<hr>
<ul>
    {% for forum in my_forum_list %}
    <li>
        <a href="{% url 'forums:forum_detail' pk=forum.pk%}">{{ forum.q_title }}</a>
        - posted on: {{forum.asked_on}}
    </li>
    {% empty %}
    <p>No forums.</p>
    {% endfor %}
</ul>
<hr>
<a class="btn btn-dark" href="{% url 'forums:create_forum' %}" style="color:white">
    Ask on Forum
</a>
<hr>


<h5>Events</h5>
<hr>
<ul>
    {% for event in my_event_list %}
    <li>
        <a href="{% url 'events:event_detail' pk=event.pk%}">{{ event.title }}</a>
    </li>
    {% empty %}
    <p>No events.</p>
    {% endfor %}
</ul>
<hr>
<a class="btn btn-dark" href="{% url 'events:post_event' %}" style="color:white">
    Add Event
</a>
<hr>


<h5>Materials</h5>
<hr>
<ul>
    {% for material in my_material_list %}
    <li>
        <a href="{% url 'materials:material_detail' pk=material.pk%}">
            {{ material.title}}
        </a>
    </li>
    {% empty %}
    <p>No Materials.</p>
    {% endfor %}
</ul>
<a class="btn btn-dark" href="{% url 'materials:add_material' %}" style="color:white">
    Add Notes
</a>

<hr>

<h5>Gate Materials</h5>
<hr>
<ul>
    {% for gmaterial in my_gatematerial_list %}
    <li>
        <a href="{% url 'materials:material_detail' pk=gmaterial.pk%}">
            {{ gmaterial.title}}
        </a>
    </li>
    {% empty %}
    <p>No Materials.</p>
    {% endfor %}
</ul>
<a class="btn btn-dark" href="{% url 'materials:add_gatematerial' %}" style="color:white">
    Add Gate Notes
</a>
<hr>

<h5>Softwares</h5>
<hr>
<ul>
    {% for software in my_software_list %}
    <li>
        <a href="{% url 'softwares:software_detail' pk=software.pk%}">
            {{ software.title}}
        </a>
    </li>
    {% empty %}
    <p>No softwares.</p>
    {% endfor %}
</ul>
<a class="btn btn-dark" href="{% url 'softwares:create_software' %}" style="color:white">
    Add Software
</a>
<hr>

<h5>Configurations</h5>
<hr>
<ul>
    {% for config in my_config_list %}
    <li>
        <a href="{% url 'softwares:configuration_detail' pk=config.pk%}">
            {{ config.title}}
        </a>
    </li>
    {% empty %}
    <p>No configurations.</p>
    {% endfor %}
</ul>
<a class="btn btn-dark" href="{% url 'softwares:create_configuration' %}" style="color:white">
    Add Configuration
</a>
<hr>

<h5>Working Projects</h5>
<hr>
<ul>
    {% for prj in my_workprj_list %}
    <li>
        <a href="{% url 'softwares:workingproject_detail' pk=prj.pk%}">
            {{ prj.title}}
        </a>
    </li>
    {% empty %}
    <p>No projects.</p>
    {% endfor %}
</ul>
<a class="btn btn-dark" href="{% url 'softwares:create_workingproject' %}" style="color:white">
    Add Project
</a>
<hr>

{% endblock %}