{% extends 'thinktank/base.html' %}

{% block title %}Dashboard{% endblock%}

{% block content %}
{% if user.is_faculty %}
<h3>Welcome faculty {{request.user.username}}</h3>
<h1>Blogs</h1>
<hr>
<ul>
    {% for blog in my_blog_list %}
    <li>
        <a href="{% url 'blogs:blog_detail' pk=blog.pk%}">{{ blog.title }}</a>
        - posted on: {{blog.created_date}}
    </li>
    {% empty %}
    <p>No blogs.</p>
    {% endfor %}
</ul>
<hr>
<a class="btn btn-dark" href="{% url 'blogs:create_blog' %}" style="color:white">
    Post a Blog
</a>
{%endif%}
<hr>


<h1>Forums</h1>
<hr>
<ul>
    {% for forum in my_forum_list %}
    <li>
        <a href="{% url 'forums:forum_detail' pk=forum.pk%}">{{ forum.q_title }}</a>
        - posted on: {{forum.asked_on}}
    </li>
    {% empty %}
    <p>No forums.</p>
    {% endfor %}
</ul>
<hr>
<a class="btn btn-dark" href="{% url 'forums:create_forum' %}" style="color:white">
    Ask on Forum
</a>
<hr>


<h1>Events</h1>
<hr>
<ul>
    {% for event in my_event_list %}
    <li>
        <a href="{% url 'events:event_detail' pk=event.pk%}">{{ event.title }}</a>
    </li>
    {% empty %}
    <p>No events.</p>
    {% endfor %}
</ul>
<hr>
<a class="btn btn-dark" href="{% url 'events:post_event' %}" style="color:white">
    Add Event
</a>
<hr>


<h1>Materials</h1>
<hr>
<ul>
    {% for material in my_material_list %}
    <li>
        <a href="{% url 'materials:material_detail' pk=material.pk%}">
            {{ material.title}}
        </a>
    </li>
    {% empty %}
    <p>No Materials.</p>
    {% endfor %}
</ul>
<a class="btn btn-dark" href="{% url 'materials:add_material' %}" style="color:white">
    Add Notes
</a>
{% endblock %}