{% extends 'thinktank/base.html' %}

{% block title%}Material{%endblock%}

{% block content %}
<h2>{{material.title}}</h2>
<p class="showing_name">By:
    <a href="{% url 'accounts:profile' username=material.faculty%}">
        {{material.faculty.user.get_full_name}} <span class="badge badge-primary">{{material.faculty.department}}</span>
    </a>
</p>
<hr>
<p>Description: <br>{{material.description}}</p>
{% if request.user.is_authenticated and request.user.is_faculty %}
<p><a href="{% url 'materials:material_delete' pk=material.pk %}">Delete</a></p>
{% endif %}
<p>Attachments :</p>
<div class="blocks">
    <h5>Documents
        {% if request.user.is_authenticated and request.user == material.faculty.user %}
        <a href="{% url 'materials:add_document' pk=material.pk%}">
            <img style="width:25;float: right;" src="/media/icons/add_video_icon.png" alt="add files">
        </a>
        {%endif%}
    </h5>
    {% for material_doc in material.documents.all %}
    <div class="material_container">
        {% if request.user == material.faculty.user %}
        <p style="margin: 0 10 0 0; text-align: right;">
            <a onclick="return confirm('Are you sure you want to delete this?')"
                href="{% url 'materials:delete_document' pk=material.pk pk1=material_doc.pk%}">X</a>
        </p>
        {%endif%}
        <a href="/material/download/{{material_doc.get_filename}}">{{material_doc.get_filename}}</a>

    </div>
    {% empty %}
    No documents
    {% endfor %}

</div>
<div class="blocks">
    <h5>Links
        {% if request.user.is_authenticated and request.user == material.faculty.user %}
        <a href="{% url 'materials:add_link' pk=material.pk%}">
            <img style="width:25;float: right;" src="/media/icons/add_video_icon.png" alt="add links">
        </a>
        {%endif%}
    </h5>
    {% for material_link in material.links.all %}
    <div class="material_container">
        {% if request.user == material.faculty.user %}
        <p style="margin: 0 10 0 0; text-align: right;">
            <a onclick="return confirm('Are you sure you want to delete this?')"
                href="{% url 'materials:delete_link' pk=material.pk pk1=material_link.pk%}">X</a>
        </p>
        {%endif%}
        {{ material_link.link }}

    </div>
    {% empty %}
    No links
    {% endfor %}

</div>
<div class="blocks">
    <h5>Videos
        {% if request.user.is_authenticated and request.user == material.faculty.user %}
        <a href="{% url 'materials:add_video' pk=material.pk%}">
            <img style="width:25;float: right;" src="/media/icons/add_video_icon.png" alt="add video">
        </a>
        {%endif%}
    </h5>

    {% for material_video in material.videos.all %}
    <div class="material_container">
        {% if request.user == material.faculty.user %}
        <p style="margin: 0 10 0 0; text-align: right;">
            <a onclick="return confirm('Are you sure you want to delete this?')"
                href="{% url 'materials:delete_video' pk=material.pk pk1=material_video.pk%}">X</a>
        </p>
        {%endif%}
        <video width="200" controls muted>
            <source src="{{material_video.video.url}}" type="video/mp4">
            </source>
        </video>

    </div>
    {% empty %}
    No videos
    {% endfor %}

</div>
<div class="blocks">
    <h5>Images
        {% if request.user.is_authenticated and request.user == material.faculty.user %}
        <a href="{% url 'materials:add_image' pk=material.pk%}">
            <img style="width:25;float: right;" src="/media/icons/add_img.png" alt="add image">
        </a>
        {%endif%}
    </h5>
    {% for material_image in material.images.all %}
    <div class="material_container">
        {% if request.user == material.faculty.user %}
        <p style="margin: 0 10 0 0; text-align: right;">
            <a onclick="return confirm('Are you sure you want to delete this?')"
                href="{% url 'materials:delete_image' pk=material.pk pk1=material_image.pk%}">X</a>
        </p>
        {%endif%}
        <a href="{{material_image.image.url}}"><img src="{{material_image.thumbnail.url}}" alt=""></a>

    </div>
    {% empty %}
    No images
    {% endfor %}

</div>

{% endblock %}