{% extends 'thinktank/base.html' %}
{% block title %}Materials{% endblock%}
{% block content %}
<h1>Materials:</h1>
<hr>
{% for dep in departments %}
<div class="card" style="width: 300px; margin:20px; float: left; height: 230;">
    <div class="card-body">
        <h5 class="card-title">{{dep}}</h5>
        <hr>
        <p class="card-text">Materails are provided by all faculties to their respective branch.</p>
    </div>
    <a href="#" class="btn ">Go there!</a>
</div>
{% endfor %}
{% endblock %}