{% load static %}
<html>

<head>
    <title>Think Tank | {% block title%}{%endblock%}</title>
    <link rel="stylesheet" href={% static "bootstrap/css/bootstrap.min.css" %} />
    <link rel="stylesheet" href={% static "custom/css/style.css" %} />

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    {% block link %}
    {% endblock %}
</head>

<body>
    {% include "homepage/_head.html"%}
    {% include "homepage/_navbar.html"%}
    <div class="container" style="background: rgb(243  , 246, 253);">
        <div class="left_bar">
            <ul>
                <li> <a href="#">Softwares(opensource)</a> </li>
                <li> <a href="">Configuration</a> </li>
                <li> <a href="">Working with projects</a> </li>
                <li> <a href="">Technologies</a> </li>
                <li><a href="{% url 'materials:material'%}">Materials</a></li>
                <li><a href="{% url 'blogs:blog_list'%}">Blogs</a></li>
                <li><a href="{% url 'forums:forum_list' %}">Forums</a></li>
                <li><a href="{% url 'homepage:contact' %}">Feedback</a></li>
            </ul>
        </div>
        <div class="right_bar">
            {% block content %}
            {% endblock %}
        </div>
    </div>

    {% include "homepage/_footer.html"%}
</body>

</html>