{% extends 'thinktank/base.html' %}

{% block title %}Students{% endblock%}
{% load static %}
{% block link %}
<link rel="stylesheet" href={% static "custom/css/style1.css" %} />
{% endblock %}

{% block content %}
<h3>Students</h3>
<hr>
<ul class="list-unstyled"></ul>
{% for student in student_list %}
<li class="media display_card">
    {% if student.profile_picture %}
    <img src="{{ student.profile_picture.url }}" alt="picture" width="50" class="mr-3" />
    {%endif%}
    {% if not student.profile_picture %}
    <img src="/media/icons/person_icon.png" style="background:#ddd;" width="50" class="mr-3" />
    {%endif%}
    <div class="media-body">
        <h5 class="mt-0 mb-1"><a href="{% url 'accounts:profile' username=student%}">{{ student.get_full_name }}</a>
        </h5>
        {{student.get_department_display}}, {{student.university}}
    </div>
</li>

{% empty%}
<h2>No students yet registered.</h2>
{% endfor%}
</ul>
{% endblock %}