{% extends 'thinktank/base.html' %}

{% block title %}Forum Detail{% endblock%}

{% block content %}
<h4>Q: {{forum.q_title}}</h4>
<p style="font-size:12px; font-style: italic;">Asked by: {{forum.questioner}}</p>
<p>{{forum.detail|linebreaks}}</p>

{% if request.user == forum.questioner %}
<a href="{% url 'forums:update_forum' pk=forum.pk%}">Edit</a> |
<a href="{%url 'forums:delete_forum' pk=forum.pk%}">Delete</a>
{% endif%}

<hr>
{% if not user.is_authenticated %}
<p style="text-align: right"> <a href="{% url 'homepage:index'%}">Login to Reply</a> </p>
{% endif %}
{% if user.is_authenticated %}
<p style="text-align: right"> <a class="btn btn-secondary" href="{% url 'forums:add_comment_to_forum' pk=forum.pk%}">Reply</a>
</p>
{% endif %}
<hr>
{% for comment in forum.comments.all %}
<div style="background:#ddd; padding-left: 10px;padding-right:10px; ">
    <p style="font-size:18px;">{{comment.text|safe}}</p>
    <p style="font-size:12px; font-style: italic;">
        Reply by: {{comment.reply_by}}
        | {{ comment.commented_on|timesince}} ago
        | edited on: {{comment.edited_on}}
    </p>
    <p style="text-align: right">
        {% if not user.is_authenticated %}
        Login to Reply |
        {% endif %}
        <a href="{% url 'forums:reply_to_comment' pk=forum.pk pk1=comment.pk%}">Reply</a>
        {% if request.user == comment.reply_by %}
        | <a href="{% url 'forums:comment_update' pk=comment.pk%}">Edit</a>
        {% endif %}
        {% if request.user == comment.reply_by or request.user == comment.forum.questioner%}
        | <a onclick="return confirm('Are you sure you want to delete this?')" href="{% url 'forums:comment_remove' pk=forum.pk pk1=comment.pk%}">Delete</a>
        {% endif%}
    </p>
</div>
{% for sub_comment in comment.sub_comments.all %}
<div style="margin-left:50px;background: #dddeee;padding-left: 10px;padding-right:10px;">
    <p style="font-size:18px;">{{sub_comment.text|safe}}</p>
    <p style="font-size:12px; font-style: italic;">
        Reply by: {{sub_comment.reply_by}}
        | {{ sub_comment.commented_on | timesince}} ago
        | edited on: {{sub_comment.edited_on}}
    </p>
    <p style="text-align: right">
        {% if not user.is_authenticated %}
        Login to Reply |
        {% endif %}
        <a href="{% url 'forums:reply_to_comment' pk=forum.pk pk1=comment.pk%}">Reply</a>
        {% if request.user == sub_comment.reply_by %}
        | <a href="{% url 'forums:reply_update' pk=sub_comment.pk%}">Edit</a>
        {% endif %}
        {% if request.user == sub_comment.reply_by or request.user == sub_comment.comment.forum.questioner%}
        | <a onclick="return confirm('Are you sure you want to delete this?')" href="{% url 'forums:reply_remove' pk=forum.pk pk1=sub_comment.comment.pk pk2=sub_comment.pk%}">Delete</a>
        {% endif%}
    </p>
</div>
{% endfor %}
{%empty%}
<p>No reply yet.</p>


{% endfor %}


{% endblock%}