body{
    background: rgb(243  , 246, 253);
}

.heading_name{
    float: left;
    width: 100%;
}
.menu{
    float: left;
    width: 100%;
}
.content{
    float: left;
    width:100%;
}
.left_bar {
    width: 25%;
    float: left;
    margin-top: 20px;
}

.left_bar ul {
    list-style: none;
}

.left_bar ul li {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 10px;
    font-size: 18px;
    color: #000;
}

.right_bar {
    float: left;
    width: 75%;
    padding-left: 20px;
    border-left: 1px #000 solid;
}

.login_faculty{
    float: left;
    border: 1px #000 dashed;
    padding: 10px;
    width: 45%;
}

.login_student{
    float: left;
    margin-left: 50px;
    border: 1px #000 dashed;
    padding: 10px;
    width: 45%;
}

.desc{
    padding: 10px;
    float: right;
    width: 50%;
    background: #ddd;
}

.desc p{
    text-align: justify;
}

.footer {
    margin-top: 20px; 
    float: left;
    width: 100%;
    height: 100px;
    padding: 40px;
    background: rgb(92, 205, 188);
}

.blocks{
    float: left;
    width: 100%;
    border: 1px dashed #000;
    margin-bottom: 10px;
    padding: 10px;
}